{% extends "base.html" %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main/playgrounds.css' %}">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=4c23ed62-3c8e-42df-ada2-27ae00eba906"></script>
{% endblock %}

{% block body %}
    

    <div class="add">
        <a href="/admin/playgrounds/playground/add/">add</a>
    </div>    

    <div class="items_cell">        
        {% for p in list_playground %}
            <div class="item">
                <div class="photo">
                    <img src="{{ p.photo.url }}" alt="">
                </div>
                <div class="item_info">
                    <div class="text">
                        <div class="address">
                                {{ p.address }}
                        </div>

                        <div class="description">
                            {{ p.description }}
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="map" style="width: auto; height: 300px;"></div> <!-- здесь отображается карта -->

    <!-- <script id="getmap" src="" type="text/javascript"></script> -->
    

    <script>
        var myMap;
        ymaps.ready(init);

        function init() {
    
            // Создание экземпляра карты.
            var myMap = new ymaps.Map('map', {
                center: [53.223, 50.194], // Самара
                    zoom: 12
            });
            
            // создаются метки на карте
            // координаты из бд
            {% for p in list_playground %}  
                myMap.geoObjects.add(new ymaps.Placemark([{{ p.latitude }}, {{ p.longitude}}], {
                    balloonContent: "{{ p.description }}\n <a href=''>link</a>"
                    }, {
                        preset: 'islands#icon',
                        iconColor: '#000000'
                    })
                )
            {% endfor %}
        }
    </script>

{% endblock %}