{% extends "base.html" %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main/playgrounds.css' %}">
{% endblock %}

{% block body %}

    <div class="items_cell">
        {% for p in list_playground %}
            <div class="item">
                <div class="photo">
                    <img src="{{ p.photo.url }}" alt="">
                </div>
                <div class="item_info">
                    <div class="text">
                        <div class="address">
                                {{ p.address }}
                        </div>

                        <div class="description">
                            {{ p.description }}
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}