<html>
<head>
    <title>koch</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    {% block css %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="wrapper">
            <nav>
                <ul class="left">
                    <li><a href="/">Home</a></li>
                </ul>
                
                <ul class="right">
                    {% if current_user.login == "root" %}
                        <li><a href="/admin">Admin panel</a></li>
                    {% endif %}
                    <li><a href="{{ url_for("basketball", page=0) }}">Basketball</a></li>
                    <li><a href="/b">Workout</a></li>
                    <li><a href="/b">Soccer</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="text">
            Это футер. Лол.
        </div>
    </footer>
</body>

</html>