{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/basketball.css") }}">
{% endblock %}

{% block content %}
<div class="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa1aa1ebbfd066db211a361861ec3424c10c12e022a755167ab845748bae8ad84&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
<div class="cell_playgrounds">
    <a href="{{ url_for("sort_by_rating") }}">sort by rating</a>
    
    {% for playground in playgrounds %}
        <div class="playground">
            <img src="static/img/{{ playground.photo }}" alt="">
            
            <div class="text">
                <p><strong>Rating</strong>{{ playground.rating }}</p>
                <p><strong>Address: </strong>{{ playground.address }}</p>
                <p><strong>Description: </strong>{{ playground.description }}</p>
                <a href="{{ url_for("playground", id=playground.id) }}">click</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pages">
    {% if page != 0 %}
        <li>
            {% if page == 0 %}
                <span class="this_page">
                    <a href="{{ url_for("basketball", page=0) }}">0</a>
                </span>
            {% else %}
                <a href="{{ url_for("basketball", page=0) }}">0</a>
            {% endif %}
        </li>

        {% if page > 1 %}
            <li> <a href="">...</a> </li>
        {% endif %}
    {% endif %}
    {% if playgrounds | length >= 9 %}
        {% for n_page in range(9) %}
            {% if page == n_page + page  %}
                <span class="this_page">
                    <li><a href="{{ url_for("basketball", page=page+n_page) }}">{{ page+n_page }}</a></li>
                </span>
            {% else %}
                <li><a href="{{ url_for("basketball", page=page+n_page) }}">{{ n_page + page }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

{% endblock %}