{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/basketball.css") }}">
{% endblock %}

{% block content %}
<div id="map" class="map">

</div>

<div class="cell_playgrounds">
    {% for playground in playgrounds %}
        <div class="playground">
            <img src="static/img/{{ playground.photo }}" alt="">
            
            <div class="text">
                <p>Rating: {{ playground.rating }}</p>
                <p>Address: {{ playground.address }}</p>
                <p>Description: {{ playground.description }}</p>
                <a href="{{ url_for("playground", id=playground.id) }}">click</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pages">
    {% if page != 0 %}
        <li>
            {% if page == 0 %}
                <span class="this_page">
                    <a href="{{ url_for("basketball", page=0) }}">0</a>
                </span>
            {% else %}
                <a href="{{ url_for("basketball", page=0) }}">0</a>
            {% endif %}
        </li>

        {% if page > 1 %}
            <li> <a href="">...</a> </li>
        {% endif %}
    {% endif %}
    {% if playgrounds | length >= 9 %}
        {% for n_page in range(9) %}
            {% if page == n_page + page  %}
                <span class="this_page">
                    <li><a href="{{ url_for("basketball", page=page+n_page) }}">{{ page+n_page }}</a></li>
                </span>
            {% else %}
                <li><a href="{{ url_for("basketball", page=page+n_page) }}">{{ n_page + page }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=6e5bb8b0-59fd-4ea5-898d-f909933a59da&lang=ru_RU"
        type="text/javascript">
    </script>
    <script>
        var myMap;
    
        // Дождёмся загрузки API и готовности DOM.
        ymaps.ready(init);
    
        function init () {
            // Создание экземпляра карты и его привязка к контейнеру с
            // заданным id ("map").
            myMap = new ymaps.Map('map', {
                    // При инициализации карты обязательно нужно указать
                    // её центр и коэффициент масштабирования.
                    center: [53.223, 50.194], // Самара
                    zoom: 10
                }, {
                    searchControlProvider: 'yandex#search'
                }
            );
            
            {% for mark in marks %}
        
                myMap.geoObjects.add(new ymaps.Placemark([{{ mark.latitude }}, {{ mark.longitude}}], {
                    balloonContent: "{{ mark.description }}\n<a href='/{{ mark.playground_type}}/playground_{{ mark.id}}'>link</a>"
                    }, {
                        preset: 'islands#icon',
                        iconColor: '#0095b6'
                    })
                )
            {% endfor %}
    };
    </script>

{% endblock %}