#map {
    color: black !important;
    margin: auto;
}

#map a {
    color: black;
}


.buttons {
    /* width: 30%; */
    display: inline-block;
    border-radius: 40px;

    padding: 0 10px;
    background: #3E555B;
    align-items: center;
}


.add {
    margin: 10px auto;
    border-radius: 100%;
    background: #4CC695;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: white;
}

a .add, a:visited .add{
    color: white;
}

 a:hover .add {
    text-decoration: none;
}



.items_cell {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    /* display: inline-block; */
    /* flex-direction: column; */
    width: 30%;   
    margin: 5px;
    /* border: 1px solid black; */
}

.item .photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.item .photo img {    
    /* width: initial; */
    width: 100%;
    height: 170px;
}

.item_info {
    /* height: 100px; */
    background: #3E555B
}

.item_info > .text {
    padding: 20px 10px;
}

.text .title {
    font-size: 1.3em;
}

.text .description {
    color: #B9CDD6;
    padding-top: 5px;
    font-size: 0.9em;
}



/* modal */
/* .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;

    background-color: #2D3A40;
    color: white;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: white;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  } */
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  /* .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  } */
  /* endmodal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
    background: #2D3A40;
    color: white;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }