#map {
    color: black !important;
    margin: auto;
}

#map a {
    color: black;
}


.buttons {
    /* width: 30%; */
    display: inline-block;
    border-radius: 40px;

    padding: 0 10px;
    background: #3E555B;
    align-items: center;
}


.add {
    margin: 10px auto;
    border-radius: 100%;
    background: #4CC695;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: white;
}

a .add, a:visited .add{
    color: white;
}

 a:hover .add {
    text-decoration: none;
}



.items_cell {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    /* display: inline-block; */
    /* flex-direction: column; */
    width: 30%;   
    margin: 5px;
    /* border: 1px solid black; */
}

.item .photo {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.item .photo img {    
    /* width: initial; */
    width: 100%;
    height: 170px;
}

.item_info {
    /* height: 100px; */
    background: #3E555B
}

.item_info > .text {
    padding: 20px 10px;
}

.text .title {
    font-size: 1.3em;
}

.text .description {
    color: #B9CDD6;
    padding-top: 5px;
    font-size: 0.9em;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  
  background: #2D3A40;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.input_street {
  width: 30%;
}

.btn_ok {
  width: 30px;
}

/* endmodal */